<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://yashd5291.github.io/Esper/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>PLACEHOLDER_WILL_BE_REPLACED_AFTER_KEY_GENERATION</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
